In [84]:
import pandas as pd

In [85]:
# Read the CSV file into a DataFrame
df = pd.read_csv("pirates.csv")

df2 = pd.read_csv("PirateNewRow.csv")
#17 Columns, 1000 rows

df3 = pd.read_csv("PirateNewColumn.csv")

In [86]:
# print(df['parrots'].info)

# print(df['parrots'].dtype)

for column in df.columns:
    # Iterate through rows and check for null values
    for index, value in enumerate(df[column]):
        if pd.isnull(value):
            print(f"Column '{column}' has null values in the following rows:")
            print(f"Row {index + 1}")

df.fillna(0, inplace=True)

Column 'age' has null values in the following rows:
Row 34
Column 'headband' has null values in the following rows:
Row 1000
Column 'favorite.pirate' has null values in the following rows:
Row 635
Column 'sword.time' has null values in the following rows:
Row 137

In [87]:
for values in df['sex']:
    count = df['sex'].value_counts()
    
print(str(count))

male      490
female    464
other      46
Name: sex, dtype: int64

In [88]:
#average age of pirate
age = 0
average_age = 0
count = 0
for value in df['age']:
    age += value
    count += 1
average_age = age/count
print(average_age)

27.33

In [89]:
age_ = 0
average_age_ = 0
count_ = 0

for index, gender in enumerate(df['sex']):
    if gender == "female":
        age += df.loc[index, 'age']
        count += 1
average_age = age/count
print(average_age)

28.131147540983605

In [90]:
count_weight = 0

for index, weight in enumerate(df['weight']):
    if weight <= 45.36:
        count_weight += 1
count_weight /= len(df['weight'])
count_weight *= 100
print("Percentage of pirarates under 100 pounds: " + str(count_weight) + "%")

Percentage of pirarates under 100 pounds: 0.8%

In [91]:
min_weight_index = df['height'].idxmin()

# Get the corresponding ID value for the smallest weight
min_height = df['height'].min()  # Get the smallest weight directly
min_height_id = df.loc[df['height'] == min_height, 'id'].values[0]

print(f"The smallest pirate is {min_height} (ID: {min_height_id})")

The smallest pirate is 129.83 (ID: 39)

In [92]:
max_weight_index = df['weight'].idxmin()

# Get the corresponding ID value for the smallest weight
max_weight = df['weight'].max()  # Get the smallest weight directly
max_weight_id = df.loc[df['weight'] == max_weight, 'id'].values[0]

print(f"The largest weight is {max_weight} (ID: {max_weight_id})")

The largest weight is 105.6 (ID: 2)

In [93]:
mode_result = df['fav.pixar'].mode()
print("Most Common:", mode_result[0])

Most Common: Inside Out

In [94]:
average_eye_patch = df['eyepatch'].mean()
middle_eyepatch = df['eyepatch'].median()

print(average_eye_patch)
print(middle_eyepatch)

0.658
1.0

In [95]:
#Combine data sets
#combined_df = df.append(df2, ignore_index=True)
combined_df = pd.concat([df, df2], ignore_index=True)

In [96]:


combined_df = df.merge(df3, on='id')
print(combined_df)

      id     sex   age  height  weight headband college  tattoos  tchests  \
0      1    male  28.0  173.11    70.5      yes   JSSFP        9        0
1      2    male  31.0  209.25   105.6      yes   JSSFP        9       11
2      3    male  26.0  169.95    77.1      yes    CCCC       10       10
3      4  female  31.0  144.29    58.5       no   JSSFP        2        0
4      5  female  41.0  157.85    58.4      yes   JSSFP        9        6
..   ...     ...   ...     ...     ...      ...     ...      ...      ...
994  995    male  34.0  172.45    75.0      yes   JSSFP        9       18
995  996    male  26.0  178.83    70.8      yes    CCCC       14       11
996  997  female  34.0  157.20    53.6      yes   JSSFP       13       48
997  998    male  36.0  175.74    72.4      yes   JSSFP        9       95
998  999    male  30.0  175.24    70.2      yes   JSSFP        9        6

    parrots favorite.pirate sword.type  eyepatch  sword.time  beard.length  \
0         0    Jack Sparrow    cutlass         1        0.58            16
1         0    Jack Sparrow    cutlass         0        1.11            21
2         1    Jack Sparrow    cutlass         1        1.44            19
3         2    Jack Sparrow   scimitar         1       36.11             2
4         4            Hook    cutlass         1        0.11             0
..      ...             ...        ...       ...         ...           ...
994      16    Jack Sparrow    cutlass         1        0.16            18
995       2    Jack Sparrow    cutlass         0        0.46            20
996       2            Hook    cutlass         0        0.15             0
997      14    Jack Sparrow    cutlass         1        1.28            18
998       0      Lewis Scot    cutlass         1        0.21            24

           fav.pixar  grogg     favorite.sea
0     Monsters, Inc.     11      Caspian Sea
1             WALL-E      9          Red Sea
2         Inside Out      7      Chilean Sea
3         Inside Out      9       Bering Sea
4         Inside Out     14     Labrador Sea
..               ...    ...              ...
994      Toy Story 3     10      Barents Sea
995               Up     13       Baltic Sea
996     Finding Nemo      8  South China Sea
997  The Incredibles     11      Celebes Sea
998       Inside Out     10     Labrador Sea

[999 rows x 18 columns]